body{
    font-family: 'poppins', sans-serif;
}

.card{
    width: 350px;
    border-radius: 50px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.1);
}

#display{
    font-size: 2rem;
    height: 60px;
    border-radius: 10px;
}

.btn{
    font-size: 1.2rem;
    border-radius: 20px;
}